ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar{
    background-color: lightblue;
}
a{
    text-decoration: none;
    background-color: aqua;
}
li{
    list-style: none;
    display: inline;
}

.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
}