div{
    height: 250px;
    width: 250px;
    color: white;
    background-color: red;
    background-image: url("../cat_photo.jpg");
    background-size: cover;
    position: fixed;
    right: 2px;
    bottom: 2px;
}